<div class="col-4">
	<h2 class="text-center @TextClass">@Name</h2>
	@if(Content.Count > 0)
	{
		<ul>
			@foreach (string[] item in Content)
			{
				<li>
					<a href="@item[1]">@item[0]</a>
				</li>
			}
		</ul>
	}
</div>

@code {
	[Parameter]
	public List<string[]> Content { get; set; }
	[Parameter]
	public string? Name { get; set; }
	[Parameter]
	public string? TextClass { get; set; }
}
