<div class="col-auto pointer d-flex flex-column align-items-center">
	<span class="tooltip-text text-white">@Name</span>
	<img onclick=@HandleClick src=@Link class="@Clicked p-2 animated-hover" height=80 width=80/>
</div>

@code {
	[Parameter]
	public string? Link { get; set; }
	[Parameter]
	public string? Name { get; set; }
	[Parameter]
	public EventCallback<string> AddSearchItem { get; set; }

	public string Clicked { get; set; } = "";
	public void HandleClick()
	{
		Clicked = Clicked == "clicked" ? "" : "clicked";
		
		AddSearchItem.InvokeAsync(Name);
	}

}
